body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	width: 150px;
	height: 150px;
	max-width: 300px;
	border-radius: 50%;
}

#question-form label, .input{
	display: inline-block;
	margin-right: 10px;
}
#profile-icon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
footer{
	position: relative;
	bottom:-300px;
}
.buttons{
	font-size: 18px; 
	padding: 10px 20px; 
	background-color: yellow; 
	color: #333; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer;
	margin: 5px;
}
.buttons:hover,
.buttons:focus{
	background-color: #ffcc00; 
}